.full {
  display: flex;
  align-items: center;
  justify-content: center;
}
.styling {
  display: flex;
  border-width: 1px;
  border-color: white;
  border-style: dashed;
  align-items: center;
  justify-content: center;
  width: 500px;
  padding: 50px;
  margin-top: 100px;
  border-radius: 8px;
}
.allInputs {
  display: flex;

  color: white;
  align-items: center;
  flex-direction: column;
}
.inputUsr {
  width: 300px;
  height: 40px;
  border-radius: 8px;
  border-width: 1px;
  padding: 8px;
  margin-top: 30px;
}

.radioButton input {
  margin-left: 5px;
}

.selectors {
  width: 300px;
  height: 40px;
  border-radius: 8px;
  border-width: 1px;
  padding: 4px;
  margin-top: 30px;
  background-color: white;
}
.startButton {
  width: 300px;
  height: 40px;
  border-radius: 8px;
  border-width: 1px;
  padding: 2px;
  margin-top: 30px;
  background-color: #8cc084;
  color: black;
  font-weight: bold;
  cursor: pointer;
}
