.row {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
  width: 100vw;
}
.centeredBoard {
  display: grid;
  flex: 1;
  place-content: center;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
  width: 400px;
  height: 400px;
}
.borderCorners {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-width: 3px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  color: aliceblue;
  pointer-events: none;
}
.piecesShowMain {
  display: grid;
  place-content: center;
  grid-template-columns: repeat(4, 50px);
  grid-template-rows: repeat(4, 50px);
  width: 200px;
  height: 200px;
  right: 20rem;
}
/*
On Piece Click change classname of html
*/
.borderCornersClickable {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-width: 3px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  color: aliceblue;
  cursor: pointer;
}
.clickableBorderCorner {
}

.piecesShowMain {
  position: absolute;
  right: 3rem;
  display: grid;
  place-content: center;
  grid-template-columns: repeat(4, 70px);
  grid-template-rows: repeat(4, 80px);
  width: 200px;
  height: 400px;
}
.piecesShow {
  cursor: pointer;
}
.piecesNone {
  pointer-events: none;
}

.pice {
  cursor: pointer;
}

.piceClicked {
  cursor: none;
}

#chessboard .tile {
  width: 100px;
  height: 100px;
  border-width: 1px;
  border-style: solid;
  border-color: aliceblue;
  background-color: black;
}
.Score,
.Pieces {
  position: absolute;
}
.Score {
  left: 5rem;
  color: aliceblue;
  text-align: center;
}
.Pieces {
  right: 3rem;
  display: grid;
  place-content: center;
  grid-template-columns: repeat(4, 70px);
  grid-template-rows: repeat(4, 80px);
  width: 200px;
  height: 400px;
}

.PiecesClicked {
  right: 3rem;
  display: grid;
  place-content: center;
  position: absolute;
  grid-template-columns: repeat(4, 70px);
  grid-template-rows: repeat(4, 80px);
  width: 200px;
  height: 400px;
  pointer-events: none;
}

#chessboardClick {
  display: grid;
  flex: 1;
  place-content: center;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
  width: 400px;
  height: 400px;
  cursor: pointer;
}

#chessboardClick .tile {
  width: 100px;
  height: 100px;
  border-width: 1px;
  border-style: solid;
  border-color: aliceblue;
  background-color: black;
}
